.home-page-container {
  display: flex;
  flex-direction: column;
}

.home-page-container section:first-of-type {
  /* background: linear-gradient(
    to bottom,
    rgb(239, 194, 241),
    rgb(252, 215, 253),
    rgb(247, 205, 249)
  ); */
  background-color: black;
  margin: unset;
  padding: unset;
  position: relative;
}

.model-carousel-container {
  height: fit-content;
  padding: unset;
  background-color: aqua;
}

.home-page-container p {
  font-weight: 200;
  font-size: 0.9rem;
}
