:root {
  --primary: #ffffff;

  --secondary: #000000;

  --tertiary: #2379f9a1;

  --quaternary: #1ac29a;

  --text: #333;

  --background: #f7f7f7;

  --border: #ddd;

  --highlight: #ffd700;

  --error: #ff4d4f;

  --success: #52c41a;

  --warning: #fa8c16;

  --info: #1890ff;

  --light: #ffffff;
  --dark: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.standard-button {
  background: none;
  border: solid 1px var(--border);
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem;
}
