.model-carousel-container {
  min-height: 60vh;
  text-align: center;
  padding: 1rem 0;
  overflow: hidden;
}

.model-carousel-container h1 {
  margin: 0;
  font-size: clamp(1.2rem, 4vw, 4rem);
  font-weight: 300;
}

.model-carousel-container p {
  color: black;
  cursor: pointer;
  margin: 2vw 0;
}

.model-carousel-container h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.model-carousel-container h5 p,
a {
  padding: 0;
  font-size: clamp(1rem, 3vw, 1.4rem);
  font-weight: 200;
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--tertiary) 0 0);
  background-position: 0% 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.model-carousel-container h5 .selected {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.model-carousel-container h5 p:hover,
a:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.model-carousel {
  display: flex;
  flex-direction: column;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 90vh;
}

.model-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
}

.model-card h3,
h4 {
  margin: 0;
  padding: 0;
  text-align: left;
  color: white;
}

.card-content {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.model-carousel-container a {
  padding: 0;
  font-size: clamp(1rem, 3vw, 1.4rem);
  font-weight: 200;
  text-decoration: none;
  color: var(--dark);
  margin: 1vw 0;
}

@media (min-width: 35em) {
  .model-carousel-container {
    height: 100vh;
    overflow-y: none;
    display: flex;
    flex-direction: column;
  }

  .model-carousel-container h1 {
    margin-top: 3rem;
  }

  .model-carousel {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 5rem;
    margin: auto 0;
  }

  .model-carousel::-webkit-scrollbar {
    display: none;
  }

  .model-card {
    flex: 0 0 auto;
    min-width: 25%;
    margin: 0 0;
  }

  .image-container {
    max-height: 60vh;
    width: 100%;
    max-width: 80vw;
    overflow: hidden;
    transition: 1s;
  }

  .image-container img {
    transform: scale(1);
    height: 100%;
    width: 100%;
    transition: 1s;
  }

  .image-container img:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  #model-collection {
    display: none;
  }
}
